body {
    font-family: Arial, sans-serif;
     margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 100%; /* Make chat container full screen */
    height: 100%;
    background-image: url('https://link.anshbotzone.tech/channel/LTEwMDIxNjUwNTY4MTUvNjA=/video.mkv');
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-size: cover; /* Zooms the image to fit the container */
    background-repeat: no-repeat; /* Prevents image repetition */
}

.chat-box {
    max-height: 100%;
    overflow-y: auto;
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chat-message {
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 70%;
  word-wrap: break-word;
  position: relative; /* For positioning the gradient and shadow */
}

.chat-message.received {
  align-self: flex-start;
  background-color: #e5e5ea;
  background-image: linear-gradient(to right, #f0f5ff, #e5e5ea);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  animation: messageReceived 0.5s ease-in-out;
  margin : 2px 0px;
}

.chat-message.sent {
  align-self: flex-end;
  background-color: #d1f1ff;
  background-image: linear-gradient(to right, #d1f1ff, #c5e8ff);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
  animation: messageSent 0.5s ease-in-out;
  margin : 2px 0px;
}

@keyframes messageReceived {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes messageSent {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.user-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.user-input input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
}

.user-input button {
  margin-left: 10px;
  padding: 15px 30px;
  border: none;
  background-color: #4CAF50; /* Optional: Set a background color for the button */
  color: white;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  background-image: url('https://link.anshbotzone.tech/channel/LTEwMDIxNjUwNTY4MTUvNjE=/video.mkv'); /* Set the icon as background image */
  background-size: contain; /* Scale the icon to fit within the button area */
  background-repeat: no-repeat; /* Prevent repetition of the icon */
  background-position: center; /* Center the icon within the button */
  /* Optional: Adjust padding to accommodate the icon size */
}

.user-input button:hover {
    background-color: #45a049;
}

.chat-message a {
    color: blue;
    text-decoration: underline;
}
